<h4 class="center-align">To-Do Space</h4>

<div class="row">
  <div class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="todo_name" name="todo_name" type="text" [(ngModel)]="todoTitle" (keyup)="visibleToDo()"
          data-length="25">
        <label for="todo_name">Add a task</label>
        <span class="helper-text">Enter the task you want to do here</span>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <textarea id="todo-description" name="todo-description" class="materialize-textarea"
          [(ngModel)]="todoDescription" data-length="250"></textarea>
        <label for="todo_description">Describe the task</label>
        <span class="helper-text">Describe the task you want to do here</span>
      </div>
    </div>

    <div class="rows">
      <div class="col s12 center-align">
        <button class="btn waves-effect waves-light teal" type="submit" name="action"
          (click)="addToDo()">Submit</button>
      </div>
    </div>
  </div>
</div>

<br>
<hr>
<br>
<div class="collection">
  <a class="collection-item waves-effect waves-light modal-trigger" href="#completedToDos"><span class="new badge"
      data-badge-caption="completed">{{ completedCount }}</span>Completed</a>
  <a href="#todos-area" class="collection-item"><span class="new badge blue-grey" data-badge-caption="active">{{ todos.length }}</span>Active</a>
</div>

<!-- Modal Structure -->
<div id="completedToDos" class="modal bottom-sheet">
  <div class="modal-content">
    <h3 class="header">Completed To-Dos</h3>
    <ul class="collection">
      <li class="collection-item avatar blue-grey darken-1" *ngFor="let todo of completedToDos">
        <span class="title white-text strikethrough">{{ todo.title }}</span>
        <p class="white-text strikethrough">{{ todo.description }}</p>
        <a href="#!" class="secondary-content">
          <a class="btn-floating btn-small waves-effect waves-light teal">★</a>
        </a>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <a class="btn-floating btn-small modal-close waves-effect waves-light red">&times;</a>
  </div>
</div>

<div class="row" id="todos-area">
  <div class="col s12 m6" *ngFor="let todo of todos">
    <div class="card blue-grey darken-1 hoverable" *ngIf="!todo.editing; else editingToDo">
      <div class="card-content white-text">
        <span class="card-title">{{ todo.title }}</span>
        <blockquote>{{ todo.description }}</blockquote>
      </div>
      <div class="card-action right-align">
        <a class="btn-floating btn-small waves-effect waves-light teal" (click)="completeToDo(todo.id)">&#x2713;
        </a>
        &nbsp;
        <a class="btn-floating btn-small waves-effect waves-light blue-grey" (click)="editToDo(todo)">&#x270e;</a>
        &nbsp;
        <a class="btn-floating btn-small waves-effect waves-light red" (click)="deleteToDo(todo.id)">&times;</a>
      </div>
    </div>

    <ng-template #editingToDo>
      <div class="card blue-grey darken-1 hoverable">
        <div class="card-content white-text">
          <input id="todo_name" placeholder="Edit the task" name="todo_name" type="text" [(ngModel)]="todo.title"
            data-length="25" autofocus>
          <span class="helper-text">Edit the task title</span>
          <textarea id="todo-description" placeholder="Edit the task description" name="todo-description"
            class="materialize-textarea" [(ngModel)]="todo.description" data-length="250"></textarea>
          <span class="helper-text">Edit the task description</span>
        </div>
        <div class="card-action right-align">
          <a class="btn-floating btn-small waves-effect waves-light teal"
            (click)="completeEditingToDo(todo)">&#x2713;</a>
          &nbsp;
        </div>
      </div>
    </ng-template>
  </div>

  <div class="col s12 m6" *ngIf="todoTemplate" autofocus>
    <div class="card blue-grey darken-1 hoverable">
      <div class="card-content white-text">
        <span class="card-title">{{ todoTitle }}</span>
        <blockquote>{{ todoDescription || '' }}</blockquote>
      </div>
    </div>
  </div>
</div>
